.contenedor-contactame {
  padding: 40px;
  background-color: rgb(44, 5, 59);
}

.titulo-contactame {
  color: #fff;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 50px;
}

.flex {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

p.info-contacto {
  color: rgba(255, 255, 255, 0.705);
  font-size: 18px;
  word-spacing: 2px;
}

.redes-sociales-contactame {
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  border: 1px solid #fff;
  border-radius: 10px;
  padding: 20px;
}

.redes-sociales-contactame .iconos {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.redes-sociales-contactame i {
  font-size: 2.5rem;
  color: #fff;
}

.redes-sociales-contactame .linkedin i {
  color: #007bb5;
}

.redes-sociales-contactame .instagram i {
  color: rgb(131, 58, 180);
  /*color: #f09433;*/
}

.whatsapp .icono-numero {
  display: flex;
  align-items: center;
  gap: 10px;
}
.whatsapp i {
  color: #4dc247;
}

@media (max-width: 850px) {
  .flex {
    flex-direction: column;
    gap: 30px;
  }

  .redes-sociales-contactame {
    width: 100%;
  }
}

@media (max-width: 690px) {
  .contenedor-contactame {
    padding: 100px 0;
  }

  .redes-sociales-contactame {
    width: 80%;
    flex-direction: column;
    gap: 30px;
  }
}
