.contenedor-contactame {
  padding: 40px;
  background-color: rgba(0, 0, 0, 0.904);
}

.titulo-contactame {
  color: #fff;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 50px;
}

.flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

p.info-contacto {
  color: rgba(255, 255, 255, 0.705);
  font-size: 1.375rem;
  word-spacing: 2px;
}

.redes-sociales-contactame {
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  width: 60%;
  border-radius: 10px;
  padding: 20px;
}

.redes-sociales-contactame .iconos {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.redes-sociales-contactame i {
  font-size: 2.5rem;
  color: #fff;
}

.redes-sociales-contactame .linkedin i {
  color: #007bb5;
}

.redes-sociales-contactame .instagram i {
  color: rgb(131, 58, 180);
  /*color: #f09433;*/
}

.whatsapp .icono-numero,
.email .icono-email {
  display: flex;
  align-items: center;
  gap: 10px;
}
.whatsapp i {
  color: #4dc247;
}
.email i {
  color: rgba(255, 255, 255, 0.692);
}

.contenedor-formulario {
  border: 1px solid #fff;
  width: 35%;
  margin: 50px auto;
  padding: 40px;
  border-radius: 5px;
}

.contenedor-formulario p {
  color: #fff;
  text-align: center;
  margin-bottom: 20px;
  font-size: 1.25rem;
}

.contenedor-formulario form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

form input {
  padding: 10px;
  font: 1.25rem;
  background: none;
  border: none;
  outline: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  color: #fff;
  transition: all ease-in-out 0.4s;
}

form input:focus {
  border-bottom: 1.5px solid #fff;
  transform: scale(0.96);
}

form textarea {
  background: none;
  outline: none;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  color: #fff;
  padding: 10px;
  transition: all ease-in-out 0.4s;
}

form textarea:focus {
  border: 1px solid #fff;
  transform: scale(0.96);
}

form button {
  cursor: pointer;
  padding: 10px 15px;
  color: #fff;
  font-size: 1.125rem;
  border: none;
  background: #2193b0; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #5cb6ca,
    #187b94
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #5cb6ca,
    #187b94
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

form button:hover {
  background: #187b94;
}

.contenedor-descarga {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-descargar {
  width: 20%;
  border: none;
  background: #134e5e; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #71b280,
    #134e5e
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #71b280,
    #134e5e
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  cursor: pointer;
  padding: 10px 0;
  color: #fff;
  font-size: 1.25rem;
}
.btn-descargar i {
  margin: 0 20px;
}

.contenedor-contactame h3 {
  color: rgba(255, 255, 255, 0.74);
  margin-top: 50px;
  font-weight: 200;
}

/* RESPONSIVE*/
@media (max-width: 1064px) {
  .btn-descargar {
    width: 40%;
  }
}

@media (max-width: 850px) {
  .flex {
    flex-direction: column;
    gap: 30px;
  }

  .redes-sociales-contactame {
    width: 100%;
  }
}

@media (max-width: 790px) {
  .contenedor-formulario {
    width: 50%;
  }
}

@media (max-width: 690px) {
  .contenedor-contactame {
    padding: 100px 0;
  }

  .redes-sociales-contactame {
    width: 80%;
    flex-direction: column;
    gap: 30px;
  }

  .contenedor-formulario {
    width: 70%;
  }

  .contenedor-formulario p {
    text-align: center;
  }
}

@media (max-width: 480px) {
  .btn-descargar {
    width: 80%;
  }
}
