@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,200;0,300;0,400;0,700;1,500&family=Rubik:wght@300;400;500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Fira Sans", sans-serif;
  font-family: "Rubik", sans-serif;
}

/* Globales */
h1 {
  font-size: 2rem; /* 32px */
}
h2 {
  font-size: 1.625rem; /* 26px */
}
h3 {
  font-size: 1.375rem; /* 22px */
}
p {
  font-size: 1rem; /* 16px */
}
/* fin Globales */

header {
  z-index: 20;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.scroll {
  position: fixed;
  background: #00b4db;
  background: -webkit-linear-gradient(to right, #0083b0, #00b4db);
  background: linear-gradient(to right, #0083b0, #00b4db);
  -webkit-box-shadow: 0px 8px 16px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 8px 16px -1px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 8px 16px -1px rgba(0, 0, 0, 0.75);
}

header .titulo-header {
  text-transform: uppercase;
  color: #fff;
  text-decoration: none;
  font-weight: 400;
  font-size: 2rem;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
}
.a-nav {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  margin-right: 20px;
  font-size: 1.125rem;
  transition: 0.4s;
  text-transform: uppercase;
  font-weight: 400;
  word-spacing: 2px;
}
.a-nav:hover {
  color: rgba(255, 255, 255, 0.726);
}
.active {
  color: rgba(255, 255, 255, 0.603);
}

.imagen-1 {
  position: relative;
  /*background-image: url("img/background.jpg");      */
  background: #0f0c29; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #24243e,
    #302b63,
    #0f0c29
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #24243e,
    #302b63,
    #0f0c29
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
}
.texto-automatico {
  font-size: 2.2rem;
  font-weight: 500;
  position: absolute;
  bottom: 50%;
  color: #e0dfdc;
  letter-spacing: 0.1em;
  text-shadow: #fff 0px 0px 5px, #0ed6a4 0px 0px 10px, #0ed6a4 0px 0px 15px,
    #0ed6a4 0px 0px 20px, #0ed6a4 0px 0px 40px;
}
.contactame-btn {
  border: none;
  z-index: 111;
  position: absolute;
  bottom: 10%;
  color: #fff;
  background: #07a5b1;
  padding: 20px;
  border-radius: 30px;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1.5rem;
  align-items: center;
  box-sizing: border-box;
  -webkit-box-shadow: 1px 0px 49px 13px rgba(9, 210, 224, 0.75);
  -moz-box-shadow: 1px 0px 49px 13px rgba(9, 210, 224, 0.75);
  box-shadow: 1px 0px 49px 13px rgba(9, 210, 224, 0.75);
  transition: background 0.3s;
}
.contactame-btn:hover {
  background: #07a6b1c9;
}
